*{
	
	 
}
table{
	border-collapse: collapse;
	text-align: center;		
	width: 50%;
	margin: auto;
	background: linear-gradient(to top, #C8CCFF, #353635);
}
td {
	border: none;
	background-color: linear-gradient(to top, #C8CCFF, #353635);
	}
.but{
	width: 70%;
	height: : 70%;
	background-color: linear-gradient(to top, #C8CCFF, #353635);
	display:block; 
	margin: auto;
	text-align: center;
	outline: none;
	border-radius:  5px;
	background: linear-gradient(to top, #C8CCFF, #353635);
	}
.input{
	width: 80%;
	height: 100%;
	float: clear;
	text-align: right;
}